<!-- CREATE CHILD TEMPLATE FOR "ADD" PAGE (aka Insert Record Page) -->
<!-- Inherit the Parent page first -->
{% extends "layout.html" %}

<!-- Replace the "placeholder" called head in the parent template with the following -->
{% block head %}
    <title>Insert Record Page</title>
{% endblock %}


<!-- Replace the "placeholder" called body in the parent template with the following -->
{% block body %}
    <form action="/add" method="post">
        <!-- START Specific to Movie Add -->
        Add a Movie?<br>
        <!-- Name this TEXTBOX "movname"-->
        <input autocomplete="off" autofocus name="movtitle" placeholder="Movie Title" type="text"><br>
        <!-- Name this TEXTBOX "movyear"-->
        <input autocomplete="off" autofocus name="movyear" placeholder="Movie Release Year" type="number"><br>
        <!-- Name this TEXTBOX "ImageName"-->
        <input autocomplete="off" autofocus name="ImageName" placeholder="Image Name" type="text"><br>
        <!-- Add a Submit button-->
        <input type="submit">
        <h2>Don't forget to upload the image to the Images folder!</h2>
        <br>
        <br>
        <!-- END Specific to Movie Add -->

        <H2><u>Ordered List of Movies</u></H2>
        <OL>
            <!-- The LI tag is NOT static.  We need one for each row in the datanase -->
            <!-- Therefore we need a Jinja loop to iterate through all of the movie rows -->
            <!-- message contains a LIST of Dictionaries -->
            <!-- m will represent each dictionary entry made up of a Name key and a Year key -->
            {% for m in message %}
                <LI> <!-- the double curly braces must be together with no spaces-->
                     {{m.Title}},  {{m.Year}}
                </LI>
            {% endfor %}
        </OL>

    </form>

 {% endblock %}