<!-- CREATE PARENT TEMPLATE FOR THE ENTIRE WEBSITE -->

<!-- BEGIN: STATIC HTML -->
<!DOCTYPE html>
<html lang="en">
    <head>
        {% block head %}

        {% endblock %}
        <!-- Notice the syntax. It is customary to keep the static information in a folder called static -->
        <!-- You can then create subfolders in the static folder and reference them in the file parameter -->
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    </head>
    <body>
        <table>
            <tr>
                <td style="vertical-align:top">
                    <a href=/index>Home</a> |
                    <a href=/delete>Remove Movie</a> |
                    <a href=/add>Add Movie</a> |
                    <br><br>
                </td>
            </tr>
            <tr>
                <td style="vertical-align:top">
<!-- END: STATIC HTML -->

                    <!-- BEGIN: DYNAMIC HTML-->
                    <!-- Placeholder called "body" -->
                    {% block body %}
                    {% endblock %}
                    <!-- End Placeholder called "body" -->
                    <!-- END: DYNAMIC HTML -->

<!-- BEGIN: STATIC HTML -->
                </td>
            </tr>
        </table>
    </body>
</html>
<!-- END: STATIC HTML -->
